.page {
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  background: linear-gradient(90deg, rgba(20, 207, 242, 1) 0%, rgba(120, 247, 157, 1) 100%);
}

.container {
  /* background: white; */
  width: 100%;
  height: 100%;
  max-width: 75rem;
  min-width: 21rem;
  display: flex;
  justify-content: center;
}
